// fonts
$fb: 16px;
$ff: 'Inter', sans-serif;
$icons: 'icons';

// colors
$cl: #2E765E;

$bg: #13151B;
$bg_grey: #181B20;

$tx: #F2F2F2;
$tx_grey: #8C8C8C;
$border: #22252A;
$shadow: rgba(46, 118, 94, 0.25);